{% extends "base.html" %}

{% block content %}
<!-- S3_users.html -->
<html>
<head>
    <title>User Data</title>

</head>
<body>
  <button onclick="openModal()">Delete User</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <label for="textInput">Enter Text:</label>
            <input type="text" id="textInput">
            <button onclick="submitText()">Submit</button>
        </div>
    </div>

    <script>
        // Function to open the modal
        function openModal() {
            document.getElementById('myModal').style.display = 'block';
        }

        // Function to close the modal
        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }

        // Function to handle submission of text
        function submitText() {
            var inputText = document.getElementById('textInput').value;
            alert("You entered: " + inputText);
            closeModal(); // Close the modal after showing the alert
        }

        // Function to display a welcome message
        window.onclick = submitText() {
            alert("User  + inputText + " Deleted Successfully");
        };
    </script>

    <h1>User Data</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>User Email</th>

            
        </tr>
        {% for user in usr %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            
        </tr>
        {% endfor %}
    </table>

</body>
</html>
{% endblock %}
